body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
}

main {
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 40px 20px;
  margin-bottom: 65px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -20px #b6b6b6; 
}

.home {
  display: inline;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
