
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0 auto;
    padding: 15px 0 40px 0;
    height: 20vh;
    background-image: url('../docs/brick.jpg');
    background-position: 10px -50px;
    color: white;
}

.logo {
    flex: 0 0 200px;
    padding-left: 2%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.rightnav {
    display: flex;
    flex: 1 1 300px;
    justify-content: flex-end;
    text-align: center;
    margin: 0 auto;
}

.main-nav {
    color: #efdbdb;
    font-weight: bolder;
    text-transform: lowercase;
}

.rightnav ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

.rightnav ul li {
    list-style: none;
    float: left;
}


/* a {
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}

a:hover {
	font-weight: 900;
} */