.ReactTable  {
    height: 53vh !important;
}

.ReactTable .rt-thead .rt-tr {
    padding: 10px 10px 10px 10px !important;
    text-align: left !important; 
    background-color: black; 
    color: white;
}

.rt-tbody {
    background-color: white;
}   

.rt-td a {
    color: black;
}

.rt-td a:hover {
    color: #888 !important;
}

div.-pagination {
    background-color: white;
}

button {
    cursor: pointer;
}